.post-card{
    width: 100%;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    margin-bottom: 20px;
    break-inside: avoid;
}

.post-content{
    padding: 20px;
}

.post-content p, a{
    margin-top: 10px;
    text-align: left;
}

.post-content a{
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    color: var(--primary-color);
}

.post-content a:hover{
    text-decoration: underline;
}

.post-card img{
    width: min(100%, 100%);
}