*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --primary-color: #F31E58;
}

body{
    width: 100%;
    min-height: 100vh;
    background-image: url('../assets/Endless-Constellation.svg');
}