input{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    padding: 0 10px;
    margin: 10px 0;
    font-size: 17px;
}

input:focus{
    outline: none;
    border: 1px solid var(--primary-color);
}